server：
javase-24
gson-2.10.1
javafx-24.0.2
mysql-connector-j-9.4.0.jar
commons-pool2-2.12.0.jar
jedis-5.1.0.jar
slf4j-api-2.0.9.jar


common:
gson-2.10.1
javase-24

client:
javase-24
gson-2.10.1
javafx-24.0.2